html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

// my styles start
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$dark-green: #045d56;
$light-green: #1EB980;

body {
	background: #414142;
}

#nav {
	display: flex;
	align-items: center;
	background: #27272f;
	justify-content: space-between;
	height: 80px;
	font-family: Roboto
}

#nav div .left {
	display: flex;
	width: 100%;
}

#nav ul {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}

div .right {
	justify-content: flex-end;
	flex-wrap: nowrap;
}

#nav li {
	margin-right: 40px;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;

	h1 {
		font-size: 32px;
		margin: 0px;
	}

	p {
		margin: 0px;
	}

	a {
		text-decoration: none;
		color: #fff;
		display: flex;
	}
}

.fas {
	margin-left: 10px;
}

#nav ul {
	list-style: none;
}

div.Grid {
	padding: 20px 0 0 0;
}

table#GRID {
	background: $dark-green;
	border-spacing: 1px;
}

#GRID tr {
	list-style: none;
	display: flex;
}

#GRID td {
	padding: 10px;
	background: #27272f;
}

#GRID ul.row {
	padding-left: 0px;
	margin: 0px;
}

.wall {
	background: $light-green;
}

.pathBegin {
	background: #ffffff
}

.pathEnd {
	background: #000000
}

// hovers
#nav li:hover {
	border-bottom: 2px solid $light-green;
}

// mobile
@media (max-width: 800px) {
	#nav li {
		font-size: 16px;
	}
}