html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

// my styles begin
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$dark-green: #045d56;
$light-green: #1EB980;

body {
	background: #414142;
}

// nav begins
#nav {
	display: flex;
	align-items: center;
	background: #27272f;
	justify-content: space-between;
	height: 80px;
	font-family: Roboto
}

#nav div .left {
	display: flex;
	width: 100%;
}

#nav ul {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}

div .right {
	justify-content: flex-end;
	flex-wrap: nowrap;
}

#nav li {
	margin-right: 40px;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;

	h1 {
		font-size: 32px;
		margin: 0px;
	}

	p {
		margin: 0px;
	}

	a {
		text-decoration: none;
		color: #fff;
		display: flex;
	}
}

.fas {
	margin-left: 10px;
}

#nav ul {
	list-style: none;
}

// grid begins

div.Grid {
	padding: 20px 0 0 0;
}

table#GRID {
	background: $dark-green;
	border-spacing: 1px;
}

#GRID tr {
	list-style: none;
	display: flex;
}

#GRID td {
	padding: 15px;
	background: #27272f;
}

#GRID ul.row {
	padding-left: 0px;
	margin: 0px;
}

td.wallOn {
	background: $light-green !important;
}

// tile begin
.pathBegin {
	background: #ffffff
}

.pathEnd {
	background: #000000
}

.stopColor {
	background: rgb(204, 28, 28) !important;
}

.startColor {
	background: rgb(38, 211, 22) !important;
}

// hovers
#nav li:hover {
	border-bottom: 2px solid $light-green;
}

.tile-visited {
	animation-name: visitedAnimation;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-delay: 0;
	animation-direction: alternate;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-play-state: running;
}

@keyframes visitedAnimation {
	0% {
		transform: scale(0.3);
		background-color: rgba(0, 0, 66, 0.75);
		border-radius: 100%;
	}

	50% {
		background-color: rgba(17, 104, 217, 0.75);
	}

	75% {
		transform: scale(1.2);
		background-color: rgba(0, 217, 159, 0.75);
	}

	100% {
		transform: scale(1);
		background-color: rgba(0, 190, 218, 0.75);
	}
}

.tile-shortest-path {
	animation-name: shortestPath;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-delay: 0;
	animation-direction: alternate;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-play-state: running;
}

@keyframes shortestPath {
	0% {
		transform: scale(0.6);
		background-color: rgb(255, 254, 106);
	}

	50% {
		transform: scale(1.2);
		background-color: rgb(255, 254, 106);
	}

	100% {
		transform: scale(1);
		background-color: rgb(255, 254, 106);
	}
}

// mobile
@media (max-width: 800px) {
	#nav li {
		font-size: 16px;
	}
}