html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

// my styles start
$dark-green: #045d56;

body {
	background: #414142;
}

#nav {
    display: flex;
    align-items: center;
	background: #27272f;
	padding: 20px;
}

#nav div {
	display: flex;
	width: 100%;
}

#nav ul {
	display: flex;
    flex-wrap: nowrap;
}

div .right {
    justify-content: flex-end;
    flex-wrap: nowrap;
}

#nav li {
	margin-right: 40px;
	color: #fff;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
}

.fas {
	margin-left: 10px;
}

#nav ul {
	list-style: none;
}

div.Grid {
	padding: 20px 0 0 0;
}
table#GRID {
	background: $dark-green;
	border-spacing: 1px;
}
#GRID tr {
	list-style: none;
	display: flex;
}

#GRID td {
	padding: 20px;
	background: #27272f;
}

#GRID ul.col {
	padding-left: 0px;
	margin: 0px;
}

// mobile
@media (max-width: 800px){
    #nav li {font-size: 16px;}
}