
// my styles start
body{
    background: #414142;
}

#nav {
    display: flex;
    background: #27272F;
    padding: 20px;
}

#nav div {
    display: flex;
    width: 100%;
}

#nav ul {
    display: flex;
}

div .right {
    display: flex;
    justify-content: flex-end;
}

#nav li {
    margin-right: 40px;
    color: #fff;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
}

.fas {
    margin-left: 10px;
}


#nav ul {
    list-style: none;
}